In [1]:
import pandas as pd             # manipulação dos dados tabulares e scraping
import numpy as np              # manipulação séries temporais
import ssl                      # conexão de segurança http
import datetime as dt           # manipulação de objetos com data
import urllib                   # pacote para requerimento de download
import matplotlib.pyplot as plt # pacote para criar gráficos
import openpyxl as oxl          # pacote para manipulação de arquivos .xlsx (preenchimento)

In [9]:
censo_2021 = pd.read_excel(r'C:\Users\est.matheus.brasil\Documents\Análise de Dados sobre Educação\2021\dados\microdados_ed_basica_2021.xlsx')

In [11]:
censo_2021.shape

(221140, 370)

In [20]:
censo_parana = censo_2021[censo_2021['NO_UF'] == 'Paraná']

In [62]:
censo_parana.groupby(['NO_MUNICIPIO','TP_DEPENDENCIA'])[['TP_DEPENDENCIA']].count().head(50)

                                    TP_DEPENDENCIA
NO_MUNICIPIO        TP_DEPENDENCIA
Abatiá              2                            3
                    3                            3
                    4                            1
Adrianópolis        2                            4
                    3                            8
                    4                            1
Agudos do Sul       2                            1
                    3                            5
                    4                            1
Almirante Tamandaré 2                           18
                    3                           54
                    4                            8
Altamira do Paraná  2                            1
                    3                            2
                    4                            1
Alto Paraná         2                            4
                    3                           10
                    4                            1
Alto Paraíso        2                            1
                    3                            2
                    4                            1
Alto Piquiri        2                            6
                    3                           11
                    4                            1
Altônia             2                            5
                    3                            8
                    4                            9
Alvorada do Sul     2                            2
                    3                            5
                    4                            2
Amaporã             2                            1
                    3                            5
Ampére              2                            7
                    3                           12
                    4                            5
Anahy               2                            1
                    3                            3
                    4                            1
Andirá              2                            4
                    3                           13
                    4                            2
Antonina            2                            6
                    3                           11
                    4                            3
Antônio Olinto      2                            3
                    3                            5
                    4                            1
Apucarana           2                           18
                    3                           61
                    4                           25

In [51]:
escolas_municipios = censo_parana.groupby(['NO_MUNICIPIO', 'TP_DEPENDENCIA'])[['TP_DEPENDENCIA']].count().unstack()

for key, group in escolas_municipios:
   group.groupby('NO_MUNICIPIO')['TP_DEPENDENCIA'].sum().plot(ax=ax,label=key)

AttributeError: 'int' object has no attribute 'groupby'

In [88]:
censo_parana.groupby(['NO_MUNICIPIO', 'TP_DEPENDENCIA'])[['TP_DEPENDENCIA']].count()

                               TP_DEPENDENCIA
NO_MUNICIPIO   TP_DEPENDENCIA
Abatiá         2                            3
               3                            3
               4                            1
Adrianópolis   2                            4
               3                            8
...                                       ...
Wenceslau Braz 4                            3
Xambrê         2                            3
               3                            6
Ângulo         2                            1
               3                            2

[1161 rows x 1 columns]

In [86]:
matriculas_basico_total = int(censo_parana['QT_MAT_BAS'].sum())
print(f'Total de Matrículas do Ensino Básico: {matriculas_basico_total} (Infantil, Fundamental e Médio)')
basico_inf_fund = int(censo_parana[['QT_MAT_INF', 'QT_MAT_FUND']].sum().sum())
print(f'Quantidade de matrículas do ensino infantil e fundamental: {basico_inf_fund}')
perc_inf_fund_total = basico_inf_fund / matriculas_basico_total
print(f'Percentual de matrículas do infantil e fumdamental no total: {perc_inf_fund_total*100:.2f}%')

Total de Matrículas do Ensino Básico: 2371191 (Infantil, Fundamental e Médio)
Quantidade de matrículas do ensino infantil e fundamental: 1822933
Percentual de matrículas do infantil e fumdamental no total: 76.88%

In [87]:
professores_basico_total = int(censo_parana['QT_DOC_BAS'].sum())
print(f'Total de Matrículas do Ensino Básico: {professores_basico_total} (Infantil, Fundamental e Médio)')
professores_inf_fund = int(censo_parana[['QT_DOC_INF', 'QT_DOC_FUND']].sum().sum())
print(f'Quantidade de matrículas do ensino infantil e fundamental: {professores_inf_fund}')
profs_perc_inf_fund_total = professores_inf_fund / professores_basico_total
print(f'Percentual de matrículas do infantil e fumdamental no total: {profs_perc_inf_fund_total*100:.2f}%')

Total de Matrículas do Ensino Básico: 186884 (Infantil, Fundamental e Médio)
Quantidade de matrículas do ensino infantil e fundamental: 152847
Percentual de matrículas do infantil e fumdamental no total: 81.79%